.lead {
  margin: auto;
  width: calc(100% - 96px);
  padding-bottom: 92px;
  max-width: 984px;

}

@media (max-width: 1024px) {
  .lead {
    padding-bottom: 88px;
    width: calc(100% - 48px);
  }
}

@media (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
@media (max-width: 721px) {
  .lead {
    padding-bottom: 64px;
  }
}
