.logo {
  width: 176px;
  height: 52px;
  display: block;
  background-image: url(../../images/header-logo.svg);
  background-size: contain;
}

@media (max-width: 721px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}
