.cover {
  margin: 0 auto;
  width: calc(100% - 96px);
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@media (max-width: 1025px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 321px) {
  .cover {
    min-height: 200px;
  }
}
